* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

html {
    scroll-behavior: smooth;
    /* color-scheme: dark light; */
}

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #5e82ca67;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #5e82ca;
}

html::-webkit-scrollbar-track {
    background-color: #21315057;
}
html::-webkit-scrollbar-track:hover {
    background-color: #213150d5;
}


body {
    background: linear-gradient(-45deg, #dddddd, #749fee);
    /* background: #000000; */
    /* color: #ffffff; */
    min-height: 100vh;
}

.bg-body {
    background: linear-gradient(-45deg, #eba7a7, #dddddd, #749fee);
    color: inherit;
    /* background: linear-gradient(45deg, #111826, #2b2b2b,  #0e1420) !important; */
    /* background: linear-gradient(45deg, #172237, #939393,  #24324f) !important; */
}

.darkmode {
    background: linear-gradient(-45deg, #000000, #070c15);
    color: #ffffff;
}

.darkmode .bg-body {
    background: linear-gradient(-45deg, #000000, #070c15);
    color: #ffffff;
    /* background: linear-gradient(45deg, #111826, #2b2b2b,  #0e1420) !important; */
    /* background: linear-gradient(45deg, #172237, #939393,  #24324f) !important; */
}

.darkmode a,
.darkmode i,
.darkmode small {
    color: #ffffff;
}

#SwitchCheck {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 0 4px 3px #111c308a !important;
}

/* .post-div {
    background: linear-gradient(-60deg, #b17777, #b7b6b6, #4568a8);
    color: #000000;
} */

.darkmode .post-div {
    background: linear-gradient(45deg, #111826, #2b2b2b,  #0e1420) !important;
    color: #ffffff;
}

/* Navbar */

.darkmode .navbar {
    background: linear-gradient(45deg, #213150, #000000) !important;
    color: #ffffff !important;
}

/* Post Media */

.post-div {
    width: 400px;
    /* color: #ffffff !important; */
}
.fluid {
    /* width: 100%; */
    width: 400px;
    height: 500px;
    object-fit: cover !important;
}

/* .category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5880d1a5;
} */

#content {
    margin-top: 5rem;
}

.post::after {
    content: "";
    display: block;
    background-color: #2c2c2ccf;
    height: 1px;
    width: 100%;
    box-shadow: 0 0 3px #515151a4;
    margin-top: 0.8rem;
}

.index-body {
    padding: 2px !important;
}

.user-caption {
    gap: 0.6rem;
}

.caption {
    padding: 0 0.6rem;
    font-size: 0.8rem;
    width: 100%;
    height: 6vh;
    overflow-y: hidden;
    word-break: keep-all;
    text-align: justify;
}

/* Post Detail */
.detail {
    display: flex !important;
    align-items: flex-start !important;
    /* place-items: center !important; */
    gap: 1rem;
    /* max-width: 1100px; */
    width: 1100px;
    word-break: break-all;
}

.media-detail {
    width: 400px;
    height: 500px !important;
    object-fit: cover !important;
}

.chevron-left {
    position: absolute;
    top: 200px;
    left: 0;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    transition: all 0.3s;
    background: #b0bbd0a5;
}
.chevron-left:hover {
    background: #5e82ca9d;    
}
.detail-comments {
    max-width: 400px !important;
}

.comment-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between !important;
}

.comment {
    overflow-y: auto;
    /* flex-direction: column !important; */
    height: 350px !important;
    /* padding: 0 1rem 0.4rem 4.2rem; */
    scrollbar-width: thin;
    /* margin-bottom: 2rem; */
    /* border: 2px solid black; */
}

.comment::-webkit-scrollbar {
    width: 0.1vw;
}

.comment::-webkit-scrollbar-thumb {
    background-color: #213150a5;
}
.comment::-webkit-scrollbar-thumb:hover {
    background-color: #213150;
}

.comment::-webkit-scrollbar-track {
    background-color: #5e82cab9;
}
.comment::-webkit-scrollbar-track {
    background-color: #5e82ca;
}

.post-caption {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
}

.detail-nav {
    justify-content: start;
    align-items: center;
    padding: 0.8rem 3rem 0 0;
}

.profile-pic {
    padding: 5px;
    /* margin-top: 10px; */
}

.profile-pic img {
    width: 40px;
    height: 40px;
    object-fit: cover !important;
}

/* .detail-caption {
    text-align: justify !important;
} */

.detail-caption>small {
    font-size: 10px;
    opacity: 0.8;
}

iframe {
    outline: none;
    border: none;    
}

iframe::-webkit-scrollbar {
    width: 0.2vw;
}

iframe::-webkit-scrollbar-thumb {
    background-color: #5e82ca67;
}
iframe::-webkit-scrollbar-thumb:hover {
    background-color: #5e82ca;
}

iframe::-webkit-scrollbar-track {
    background-color: #21315057;
}
iframe::-webkit-scrollbar-track:hover {
    background-color: #213150d5;
}

/* To Top Button */

.to-top {
    background: #ffffff !important;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    /* color: #5e82ca !important; */
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    /* transition: all ease 0.3s; */
}
.darkmode .to-top {
    background: #345cab !important;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.to-top:hover {
    transition: all ease 0.3s;
    background: #213150 !important;
    /* color: #ffffff !important; */
    box-shadow: 0 0 6px 2px #5e82caba;
}

/* Profile Page */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.user-profile-pic {
    object-fit: cover !important;
}

.link-btn-group {
    margin-left: 10.4rem;
}
.link-btn-group a {
    padding: 0.4rem;
}


@media screen and (max-width: 400px) {
    .post-div {
        width: 300px;
    }
    
}


