{% load static %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f342c09598.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/Vortex-logo-removebg-white.png" /> -->

</head>
<body>
    <nav class="navbar bg-body fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
              <span class="navbar-toggler-icon"></span>
              <!-- <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span> -->
            </button>
          <a class="navbar-brand fw-bold" href="{% url 'home' %}">Face Card <i class="fa fa-smile-o" aria-hidden="true"></i></a>
          {% if user.is_authenticated %}
          {% if user.display_pic %}
          <div>
            <img class="image-thumbnail" src="" alt="">
            <a class="btn btn-outline-light" href="">Logout</a>
          </div>
          {% else %}
          <div>
            {% if user.profile.id %}
            <!-- <span>Hello {{user.username}}</span> -->
            <a class="navbar-brand fw-semibold" href="{% url 'user-profile' user.profile.id %}">Hello @{{user.username}}</a>
            {% else %}
            <a class="navbar-brand fw-semibold" href="{% url 'create-profile-page' %}">Hello @{{user.username}}</a>
            {% endif %}
            <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
            <!-- <a class="btn btn-dark" href="{% url 'signup' %}">Sign Up</a> -->
          </div>
          {% endif %}
          {% else %}
          <div>
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Log In</a>
            <a class="btn btn-dark" href="{% url 'signup' %}">Sign Up</a>
          </div>
          {% endif %}
          <div class="offcanvas offcanvas-start bg-body text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <!-- <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5> -->
              <!-- <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"> Home</i></a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <i class="fa fa-comments position-relative" aria-hidden="true">
                      <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                      Messages</i></a>
                </li> -->
                <li class="nav-item">
                  {% if user.profile.id %}
                    <!-- <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a> -->
                    <a class="nav-link active" href="{% url 'user-profile' user.profile.id %}"><i class="fa fa-user-circle" aria-hidden="true"> Profile</i></a>
                  {% else %}
                    <a class="nav-link active" href="{% url 'create-profile-page' %}"><i class="fa fa-user-circle" aria-hidden="true"> Profile</i></a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'add' %}"><i class="fa fa-plus-circle" aria-hidden="true"> Upload Post</i></a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'favourite-list' %}"><i class="fa fa-plus-bookmark-o" aria-hidden="true"> Favourites</i></a>
                </li>
                <!-- Category Menu Code -->
                <!-- {% comment %}{% if cat_menu %}
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </a>
                  <ul class="dropdown-menu bg-body">
                  {% for item in cat_menu %}
                    <li><a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
                {% endif %}{% endcomment %} -->
                {% if user.is_admin %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'add-category' %}"><i class="fa fa-plus-square-o" aria-hidden="true"> Add Category</i></a>
                </li>  
                {% endif %}                             
              </ul>
              <form class="d-flex mt-3" method="POST" action="{% url 'search-post' %}" role="search">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Post" aria-label="Search" name="searched">
                <button class="btn btn-secondary" type="submit">Search</button>
              </form><br>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}"><i class="fa fa-user-circle" aria-hidden="true"> Log In</i></a>
              </li>
              {% endif %}
              <li class="nav-item form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck">
                <label class="form-check-label" for="SwitchCheck">Light/Dark Mode</label>
              </li>
            </div>
          </div>
        </div>
      </nav>
      <div id="content" class="d-flex justify-content-center">
        <a href="#" class="d-flex btn btn-outline-none to-top"><i class="fas fa-chevron-up" aria-hidden="true"></i></a>
          {% block content %}
          
          {% endblock %}
      </div>
<!-- I am a student and want to further my studies. I am from Nigeria and have a Bachelors Degree in Mechanical Engineering. I have started applying for fully funded scholarships to further my studies and chase my goal as a Software Developer. I already have knowledge of HTML5, CSS3 and vanilla JavaScript and I believe this course will broaden my horizon and help me easily transition into the software engineering field. 
Unfortunately, I am not buoyant financially to afford this course and this breaks my heart because I plan to give this course my all and complete all assignments or projects associated to the course on time. 
Thank you for your time and consideration.  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>