{% extends 'base.html' %}
{% load static %}

{% block title %}Delete @{{post.author}} - {{post.caption|slice:":30"}}...{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    {% if user.id == post.author.id %}
        <div class="rounded d-flex flex-column align-items-center shadow p-5 mb-3 bg-body">
            <h3>Delete @{{post.author}}'s' Post.</h3>
            <br>
            <img src="{{ post.pic.url }}" class="img-fluid fluid" style="width: 400px;" alt="Post Media">
            <h4>"{{ post.caption|safe|linebreaksbr }}"</h4>
            <br>
            <h4>Are You Sure you want to delete?</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-2">Delete</button>
            </form>
        </div>
    {% else %}
        <p class="fw-bold">You're not allowed here. Don't be mischievous</p><i class="fa fa-smile-o" aria-hidden="true"></i>...
        <!-- <i class="fal fa-grin-tongue-squint"></i>... -->
    {% endif %}
    

{% else %}
    <p class="fw-bold">Sorry Mate, Login First</p><i class="fa fa-smile-o" aria-hidden="true"></i>...
    <!-- <i class="fal fa-grin-tongue-squint"></i>... -->
{% endif %}
    
{% endblock %}
